@{
    Layout = "_Api";
}

<h1 id="judul">DATA</h1>
<table class="table    table-striped table-hover" id="myTabel">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope ="col">Nama</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Gender</th>
            <th scope="col">Hiring Date</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Major</th>
            <th scope="col">Degree</th>
            <th scope="col">University</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>